.chatinputContainer {
  height: 8%;
  // background-color: rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  padding: 10px;
  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    /* margin-bottom: 7px; */
    padding: 5px;
    background-color: #2f425d;
    height: 52px;
    border-radius: 10px;
    .input_text {
      flex-grow: 2;
      background-color: transparent;
      border: none;
      height: 40px;
      color: #fff;
      font-size: 12px;
      &:focus {
        border: none;
        outline: none;
      }
      &::placeholder {
        color: gray;
        font-weight: 600;
      }
    }
    button {
      flex-grow: 1;
    }

    .tip_btn {
      // padding: 0px 11px;
      // border: 1px solid #fff;
      border-top-left-radius: 6px;
      border-bottom-right-radius: 6px;
      vertical-align: middle;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .emoji {
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .send_btn {
      padding: 0px 11px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .tip-popup {
    position: absolute;
    top: -139px;
    left: 12px;
    padding: 5px;
    z-index: 10;
    background-color: #2f425d;
    width: 92%;
    height: 130px;
    border-radius: 10px;
    .tipPanel {
      display: flex;
      justify-content: flex-start;
      padding: 10px;

      gap: 1rem;
    }
    .token_input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      /* margin-bottom: 7px; */
      padding: 5px;
      margin: 6px;
      background-color: #778faf;
      height: 47px;
      border-radius: 10px;
      .input_text {
        flex-grow: 2;
        background-color: transparent;
        border: none;
        height: 40px;
        color: #fff;
        font-size: 12px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type="number"] {
          -moz-appearance: textfield;
        }

        &:focus {
          border: none;
          outline: none;
        }
        &::placeholder {
          color: #fff;
          font-weight: 600;
        }
      }
      button {
        flex-grow: 1;
      }

      .send_btn {
        padding: 0px 11px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.tip_bx {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #778faf;
  border-radius: 1rem;
  padding: 2px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
  img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    padding: 5px;
    background-color: #fff;
  }
  span {
    font-weight: 600;
  }
}
