@use "../../../styles//index.scss";

.chatinputContainer {
  height: 8%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  padding: 10px;
  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    /* margin-bottom: 7px; */
    padding: 5px;
    background-color: #2f425d;
    height: 48px;
    border-radius: 10px;
    .input_text {
      flex-grow: 2;
      background-color: transparent;
      border: none;
      height: 40px;
      color: #fff;
      font-size: 14px;
      &:focus {
        border: none;
        outline: none;
      }
      &::placeholder {
        color: #fff;
        font-weight: 500;
      }
    }
    button {
      flex-grow: 1;
    }

    .tip_btn {
      border-top-left-radius: 6px;
      border-bottom-right-radius: 6px;
      vertical-align: middle;
      &:hover {
        opacity: 0.8;
      }
    }
    .emoji {
      &:hover {
        opacity: 0.8;
      }
      svg {
        width: 19px;
        height: 19px;
      }
    }
    .send_btn {
      padding: 0px 11px;
      &:hover {
        opacity: 0.8;
      }
      svg {
        width: 19px;
        height: 19px;
      }
    }
  }

  .tip-popup {
    position: absolute;
    top: -139px;
    left: 12px;
    padding: 5px;
    z-index: 10;
    background: #2f425d;
    width: 92%;
    height: 130px;
    border-radius: 10px;
    .tipPanel {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      gap: 1rem;

      .tip_bx {
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid #002338;
        border-radius: 1rem;
        padding: 2px 18px;
        display: flex;
        align-items: center;
        gap: 8px;
        height: 30px;
        background: #2f425d;
        &:hover {
          background: #002338;
          transition: background 0.3s ease;
        }

        img {
          width: 15px;
          height: 15px;
          object-fit: cover;
          padding: 5px;
          background-color: #fff;
        }
        span {
          font-weight: 600;
        }
      }
    }
    .token_input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      /* margin-bottom: 7px; */
      padding: 5px;
      margin: 6px;
      background-color: #002338;
      height: 47px;
      border-radius: 10px;
      .input_text {
        flex-grow: 2;
        background-color: transparent;
        border: none;
        height: 40px;
        color: #fff;
        font-size: 14px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &[type="number"] {
          -moz-appearance: textfield;
        }

        &:focus {
          border: none;
          outline: none;
        }
        &::placeholder {
          color: #fff;
          font-weight: 600;
        }
      }
      button {
        flex-grow: 1;
      }

      .send_btn {
        padding: 0px 8px;
        &:hover {
          opacity: 0.8;
        }
        svg {
          width: 18px;
          height: auto;
        }
      }

      .selectToken {
        color: #fff;
        font-size: 10px;
        cursor: pointer;
        border: 1px solid #2f425d;
        border-radius: 8px;
        padding: 2px 8px;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 22px;
        background-color: #2f425d;
        &:hover {
          background: #002338;
          transition: background 0.3s ease;
        }

        img {
          width: 10px;
          height: 10px;
          object-fit: cover;
          padding: 5px;
          background-color: #fff;
        }
        span {
          font-weight: 600;
          font-size: 10px;
        }
      }
    }
  }
}
