.aichats {
  // width: 700px;
  // height: 600px;
  width: 50%;
  max-width: 900px;
  height: 80vh;
  max-height: 800px;
  // border: 1px solid black;
  display: flex;
  color: #213547;
  background-color: #ffffff;
  position: fixed;
  right: 50px;
  bottom: 5vh;
  border-radius: 16px;
  overflow: hidden;
  .live,
  .chatfeed {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chatfeed {
    // border: 1px solid black;
    border-radius: 16px;
  }
}
