.aichats {
  // --height: 85vh;
  // height: var(--height);
  // width: calc(var(--height) * 1.1262626) !important;
  max-height: 792px;
  width: 892px;
  height: 85vh;
  z-index: 10;
  // width: 50%;
  // max-width: 900px;
  // height: 80vh;
  // max-height: 800px;
  // border: 1px solid black;
  display: flex;
  color: #213547;
  background-color: var(--light);
  position: fixed;
  right: 50px;
  bottom: 5vh;
  border-radius: 16px;
  overflow: hidden;

  justify-content: end;
  transition: all ease-in-out 0.2s;
  .live,
  .chatfeed {
    width: 50%;
    // width: calc(85vh / 2);
    // max-width: calc(792px / 2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .live {
    // border: 1px solid black;
    border-radius: 16px;
    position: absolute;
    left: 0px;
    background-color: #ffffff;
    z-index: 1;
  }
  .actions {
    position: absolute;
    right: 16px;
    top: 18px;
    z-index: 2;
    display: flex;

    img {
      width: 24px;
    }
  }
  .update {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    padding: 2px 5px 2px;
    cursor: pointer;
  }
  // .live,
  // .chatfeed {
  //   transition: flex-grow 0.3s ease, width 0.3s ease;
  //   flex: 1;
  // }

  // /* When screen size is 1024px or smaller */
  // @media (max-width: 1024px) {
  //   .live,
  //   .chatfeed {
  //     flex: 1; /* Both stay 50% width */
  //   }
  // }

  // /* When screen size is larger than 1400px */
  // @media (min-width: 1400px) {
  //   .live {
  //     flex-grow: 3; /* Left section grows dynamically */
  //   }

  //   .chatfeed {
  //     flex-grow: 1; /* Right section shrinks dynamically */
  //   }
  // }
  .chatfeed {
    // border: 1px solid black;
    border-radius: 16px;
    z-index: -1;
  }
}

// .aichats {
//   width: 700px;
//   height: 600px;
//   z-index: 10;
//   // width: 50%;
//   // max-width: 900px;
//   // height: 80vh;
//   // max-height: 800px;
//   // border: 1px solid black;
//   display: flex;
//   color: #213547;
//   background-color: #ffffff;
//   position: fixed;
//   right: 50px;
//   bottom: 50px;
//   border-radius: 16px;
//   overflow: hidden;
//   justify-content: end;
//   transition: all ease-in-out 0.2s;
//   .live,
//   .chatfeed {
//     width: 300px;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }

//   .live {
//     // border: 1px solid black;
//     border-radius: 16px;
//     position: absolute;
//     left: 0px;
//     background-color: #ffffff;
//     z-index: 1;
//   }
//   .actions {
//     position: absolute;
//     right: 10px;
//     top: 10px;
//     z-index: 2;
//     display: flex;
//   }
// }
