.feedContainer {
  max-height: 712px;
  flex-grow: 1;
  height: calc(100% - 112px);
  background-color: var(--chat-bg);

  &.fullHeight {
    .listContainer {
      max-height: 612px;
      // height: calc(100% - 68px);
      flex-grow: 1;
    }
    .feed_header {
      .super_listContainer {
        display: none;
      }
    }
  }

  &.splitView {
    .listContainer {
      max-height: 308px;
      height: calc(100% / 2);
      overflow: auto;
    }
    .feed_header {
      .super_listContainer {
        max-height: 308px;
        height: calc(100% / 2);
        min-height: 200px;
        overflow: auto;
        margin-top: 5px;
      }
    }

    // .go_to_bottom {
    //   position: absolute;
    //   right: 16px;
    //   bottom: 64px;
    //   z-index: 10;
    //   :hover {
    //     path {
    //       color: var(--primary);
    //     }
    //   }
    //   svg {
    //     cursor: pointer;
    //   }
    // }
  }
  .feed_header {
    padding: 10px;
    background-color: var(--chat-primary);
    border-radius: 10px;
    margin: 10px;
    position: relative;
    min-height: 48px;

    .super_listContainer {
      display: block;
    }

    .close_icon {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 16px;
      height: 16px;
      margin-top: 0px;
      img {
        width: 16px;
        height: 8px;
        margin-bottom: auto;
      }

      .down {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: ease-out 300ms;
      }
    }
    .holder {
      color: var(--light);
      font-size: 14px;
      font-weight: 600;
    }
    .super_chat_container {
      margin-top: 2px;
      display: flex;
      justify-items: center;
      gap: 8px;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }

      .s_chat_bx {
        box-sizing: border-box;
        width: max-content;
        display: flex;
        align-items: center;

        gap: 5px;
        padding: 4px 10px;
        border-radius: 16px;
        background-color: var(--chat-primary);
        border: 1px solid var(--primary);

        .icon {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          object-fit: cover;
        }

        .chat_content {
          display: flex;
          align-items: center;
          gap: 4px;
          width: max-content;
          .name {
            font-weight: 600;
            font-size: 8px;
            color: var(--light);
            margin-bottom: 2px;
          }

          .value {
            font-weight: 600;
            font-size: 7px;
            color: var(--light);
            margin-bottom: 2px;
            padding: 2px 10px;
            background-color: var(--info);

            border-radius: 4px;
          }
        }
      }
    }
  }

  .normal_chat_container {
    overflow: auto;
  }

  .listContainer {
    overflow: auto;

    .noChatFound {
      // width: fit-content;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 98%;
      }
    }
  }

  .messageLoader {
    width: 100%;
    height: 50px;
    margin: 1rem auto;
    border-radius: 10px;
  }
}

.adminfeedContainer {
  max-height: 712px;
  // height: calc(100% - 110px);
  flex-grow: 1;

  &.fullHeight {
    .listContainer {
      // max-height: 564px;
      // height: calc(100% - 72px);
      flex-grow: 1;
    }
  }

  &.splitView {
    .listContainer {
      max-height: 232px; //
    }
    .feed_header {
      .super_listContainer {
        max-height: 232px;
      }
    }
  }
}
