@import "/src/styles/breakPoints";
.emulator_container {
  box-sizing: border-box;
  position: absolute;
  max-width: 400px;
  width: 92%;
  background-color: var(--light);
  border-radius: 16px;
  padding: 12px 2px 12px 4px;
  height: 80vh;
  min-height: 300px;
  position: fixed;
  bottom: 5vh;
  right: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // @media screen and (max-width: 600px) {
  @include lessThan(sm) {
    border-radius: 12px;
    height: 75vh;
  }

  .emulator_head {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark);
    padding: 0 8px 8px;

    h3 {
      font-weight: 500;
      color: var(--dark);
    }

    &:nth-child(3) {
      margin-left: auto;
    }

    svg {
      color: var(--dark);
      margin-right: 8px;
      &:hover {
        color: var(--primary);
        cursor: pointer;
      }
    }
  }
}

.chat_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 10px;
}

.messages {
  height: calc(100% - 100px) !important;
  overflow: hidden;
  overflow-y: auto;
  margin: 10px 0;

  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

// .messages::-webkit-scrollbar {
//   display: none;
// }

.message {
  padding: 8px;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
  margin: 8px 0;
  font-size: 14px;
}

.message.user {
  align-self: flex-end;
  border-radius: 8px 8px 1px 8px;
  // background-color: var(--dark);
  // color: white;
  background-color: transparent;
  color: var(--dark);
  margin-left: auto;
  margin-right: 8px;
}

.message.assistant {
  align-self: flex-start;
  border-radius: 8px 8px 8px 1px;
  // background-color: var(--dark);
  // color: white;
  margin-left: 8px;
  background-color: transparent;
  color: var(--dark);
}

.input_container {
  position: absolute;
  bottom: 12px;
  width: calc(100% - 44px);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 8px;
  background-color: var(--dark);
  border-radius: 12px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: white;
}

.send_btn {
  padding: 5px;
  width: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: none;
  border: none;

  &:hover {
    path {
      stroke: var(--primary);
    }
  }
}

.emulator_popover {
  width: max-content;

  .popover_item {
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--dark);

    &:hover {
      cursor: pointer;
      color: var(--light);
      background-color: var(--primary);
    }
  }
}

.view_1 {
  position: fixed;
  z-index: 10;
  right: 24px;
  bottom: 6vh;
  cursor: pointer;

  p {
    background-color: red;
    padding: 4px 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
  }
}
