@import "/src//styles/breakPoints";
.agentlist_container {
  width: 80%;
  margin: auto;
  min-height: 500px;
  background-color: var(--primary-bg);
  border-radius: 15px;
  padding: 20px;
  min-width: 780px;
  @include lessThan(lg) {
    min-width: 700px;
  }
  @include lessThan(md) {
    width: 85%;
    min-width: 0px;
    overflow: overlay;

    /* width */
    &::-webkit-scrollbar {
      width: 5px !important;
      background: transparent !important;
      border: 0px !important;
      height: 3px !important;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 5px !important;
      background: transparent;
      border: 0px !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #555 !important;
      border-radius: 5px !important;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555 !important;
    }
  }
}

.table_aiagent {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary);
    @include lessThan(md) {
      width: 50px;
      height: 50px;
    }
  }

  div {
    display: flex;
    flex-direction: column;

    gap: 5px;
    h2 {
      font-size: 18px;
      @include lessThan(md) {
        font-size: 16px;
      }
      @include lessThan(sm) {
        font-size: 14px;
      }
      span {
        font-size: 12px;
        color: #ababab;
        @include lessThan(sm) {
          font-size: 10px;
        }
      }
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 10px;
      p {
        padding: 0px 10px;
        border-radius: 10px;
        border: 1px solid var(--light);
        white-space: nowrap; // Prevents text from wrapping
        overflow: hidden; // Hides overflow text
        text-overflow: ellipsis; // Adds the ellipsis for overflowed text
        width: 100px; // Ensures it resizes responsively
        height: 30px; // Keeps the height fixed
        line-height: 30px;
        text-align: center;
        @include lessThan(md) {
          padding: 0px 8px;
          width: 90px;
          height: 25px;
          line-height: 24px;
        }
        @include lessThan(md) {
          width: 70px;
        }
      }
    }
  }
}

.custom-no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  p {
    color: var(--light);
  }
}
