.chatSettingsContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;

  .backButton {
    position: absolute;
    margin: 8px 0 0 0px;
    cursor: pointer;
    top: -32px;
  }

  .noUserFound {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 98%;
    }
  }

  .listSetting,
  .tipSetting,
  .youtubeSetting,
  .listItems {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    background-color: var(--chat-secondary-bg);
    margin: 16px auto;
    padding: 8px;
  }

  .listSetting {
    margin-top: 1.5rem !important;

    .menuItem {
      display: flex;
      gap: 1rem;
      padding: 8px 0;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid rgb(183, 182, 182);
      }

      svg {
        margin-left: auto;
      }
      &:hover {
        transform: scale(1.005);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }

  h4,
  p {
    font-size: 14px;
    color: var(--dark);
  }

  .listItems {
    h4 {
      margin-bottom: 12px;
    }
    .listItem {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      gap: 8px;
      padding: 8px 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(183, 182, 182);
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: 16px;
      }

      p {
        margin-top: 0;
      }

      .address {
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .type {
        color: var(--primary);
        margin-left: auto;
      }

      button {
        padding: 4px 8px;
        border-radius: 8px;
        background-color: transparent;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 14px;
        transition: transform 0.3s ease;
        margin-left: auto;
        color: var(--primary);

        &:hover {
          // color: var(--light);
          scale: 1.01;
        }
      }

      .copyIcon {
        transition: color 0.2s ease;
        &:hover {
          color: var(--primary);
        }

        &.checked {
          color: green;
        }
      }

      .popover_container {
        width: 160px;

        .popover_item {
          padding: 4px 8px;
          &:hover {
            color: var(--light);
            background-color: var(--primary) !important;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
    .muteTime {
      font-size: 12px;
      color: var(--light-text);
      // margin-left: 2rem;
      // margin-top: -4px;
    }

    .promoteButton,
    .demoteButton {
      width: 28px;
      height: 28px;
    }
  }

  .tipSetting {
    .tipItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;

      input {
        width: 172px;
        height: 20px;
        outline: none;
        border: none;
        padding: 4px;
        border-radius: 8px;
        margin-left: auto;
        background-color: white !important;
      }
      // svg {
      //   padding-left: 8px;
      //   cursor: pointer;
      // }

      // div {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      // }
    }
  }

  .tipItem {
    button {
      margin-left: 8px;
    }
  }
  .tipItem,
  .youtubeSetting {
    button {
      width: max-content;
      background-color: var(--primary);
      padding: 4px 8px;
      border-radius: 8px;
      font-size: 14px;
      &:hover {
        color: var(--light);
      }
    }
  }

  .youtubeSetting {
    input {
      height: 20px;
      outline: none;
      border: none;
      padding: 4px;
      border-radius: 8px;
      width: calc(100% - 8px);
      margin-top: 12px;
    }

    button {
      width: 100%;
      margin-top: 12px;
    }
  }

  .messageLoader {
    width: 100%;
    height: 50px;
    margin: 1rem auto;
    border-radius: 10px;
  }
}

.ant-popover-inner {
  padding: 4px 8px !important;
  color: var(--dark);
  border-radius: 4px !important;
  .popover_container {
    padding: 8px 4px;
    width: max-content;

    .popover_item {
      padding: 4px 8px;
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        color: var(--light);
        background-color: var(--primary) !important;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
