@import "/src/styles/breakPoints";
.cap_container {
  padding: 10px 0px;
  .cap_header {
    display: flex;
    gap: 12px;
    margin: 0 16px 16px;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8px;
      padding: 5px 12px;
      font-size: 14px;
      // width: fit-content;
      border-radius: 10px;
      border: 1px solid var(--primary) !important;
      cursor: pointer;
      transition: all 0.3s ease;
      color: var(--light-text);
      &:hover {
        background-color: var(--primary);
        color: var(--light);
      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .allcheckbox {
      width: 15px;
      height: 15px;
      border-radius: 5px;
      background: var(--dark);
      &:checked {
        background: var(--primary);
        color: var(--primary);
      }
    }

    @include lessThan(md) {
      .item {
        padding: 4px 10px;
        border-radius: 8px;

        p {
          font-size: 13px;
        }
      }
    }
  }
}
