@import "/src/styles/breakPoints";
.emulator_container {
  position: absolute;
  width: 94%;
  min-width: 300px;
  background-color: var(--primary-bg);
  border-radius: 15px;
  padding: 12px;
  height: 80vh;
  min-height: 300px;
  position: sticky;
  top: 0px;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // @media screen and (max-width: 600px) {
  @include lessThan(sm) {
    border-radius: 12px;
    height: 75vh;
  }

  .emulator_head {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light);
    padding: 0 8px 8px;

    h3 {
      font-weight: 500;
      color: var(--light);
    }

    &:nth-child(3) {
      margin-left: auto;
    }

    svg {
      color: var(--light);
      margin-right: 8px;
      &:hover {
        color: var(--primary);
        cursor: pointer;
      }
    }
  }
}

.chat_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 10px;

  .go_to_bottom {
    position: absolute;
    right: 16px;
    bottom: 76px;
    z-index: 10;
    background-color: var(--primary-bg);
    border-radius: 24px;
    height: 32px;
    :hover {
      path {
        color: var(--primary);
      }
    }
    svg {
      cursor: pointer;
    }
  }
}

.messages {
  height: calc(100% - 100px) !important;
  overflow: hidden;
  overflow-y: auto;
  margin: 10px 0;

  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

// .messages::-webkit-scrollbar {
//   display: none;
// }

.message {
  padding: 8px;
  max-width: 80%;
  width: fit-content;
  word-wrap: break-word;
  margin: 8px 0;
  font-size: 14px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    // margin-bottom: 0.25rem;
    line-height: 1.3;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }

  span {
    color: inherit;
  }

  strong,
  b {
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  mark {
    background-color: yellow;
    padding: 0 0.2rem;
  }

  code {
    color: var(--dark);
    padding: 0.2rem 0.4rem;
    line-height: 1.2;
    overflow-wrap: break-word;
  }

  pre {
    background: #f4f4f4;
    overflow-x: auto;
    font-size: 0.9rem;
    padding: 4px 8px;
    // width: max-content;
    border-radius: 4px;
    //   background-color: var(--tertiary-bg);
    margin: 1rem 0;
  }

  // Lists
  ul,
  ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5rem;
  }

  // Blockquotes
  blockquote {
    border-left: 4px solid #ccc;
    font-style: italic;
    background: #f9f9f9;
    // background-color: var(--tertiary-bg);
    line-height: 1.2;
    overflow-wrap: break-word;
    border-left: 2px solid var(--divider);
    margin: 1rem 0;
  }

  // Links
  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Additional Styling for Sections
  div,
  section {
    margin-bottom: 1rem;
  }

  // code,
  // blockquote {
  //   color: var(--dark);
  //   line-height: 1.2;
  //   overflow-wrap: break-word;
  // }
  // pre {
  //   padding: 2px 8px;
  //   width: max-content;
  //   border-radius: 4px;
  //   background-color: var(--tertiary-bg);
  //   margin: 1rem 0;
  // }
  // code {
  //   padding: 2px 8px;
  //   width: max-content;
  //   background-color: var(--tertiary-bg);
  // }
  // blockquote {
  //   padding: 2px 8px;
  //   width: fit-content;
  //   border-left: 2px solid var(--divider);
  //   background-color: var(--tertiary-bg);
  //   margin: 1rem 0;
  // }
}

.message.user {
  align-self: flex-end;
  border-radius: 8px 8px 1px 8px;
  // background-color: var(--dark);
  // color: white;
  background-color: var(--light);
  color: var(--dark);
  margin-left: auto;
  margin-right: 8px;
  font-weight: 500;
}

.message.assistant {
  // width: 80%;

  align-self: flex-start;
  border-radius: 8px 8px 8px 1px;
  // background-color: var(--dark);
  // color: white;
  margin-left: 8px;
  background-color: var(--dark);

  // background-color: var(--chat-secondary-bg);
  color: var(--light);
  background-color: var(--light);
  color: var(--dark);
  font-weight: 500;
}

.input_container {
  position: absolute;
  bottom: 12px;
  left: 3%;
  width: calc(100% - 44px);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 8px;
  background-color: var(--dark);
  border-radius: 12px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: white;
}

.send_btn {
  padding: 5px;
  width: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: none;
  border: none;

  &:hover {
    path {
      stroke: var(--primary);
    }
  }
}

.view_1 {
  position: fixed;
  z-index: 10;
  right: 24px;
  bottom: 6vh;
  cursor: pointer;

  p {
    background-color: red;
    padding: 4px 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
  }
}
