.emulator_container {
  width: 350px;
  min-width: 300px;
  background-color: var(--primary-bg);
  min-height: 300px;
  border-radius: 15px;
  padding: 20px;
  height: 80vh;
  position: sticky;
  top: 0px;
  right: 0;
}
