.kb_container {
  padding: 10px 0px;
  .kb_header {
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
    .item {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      padding: 5px 15px;
      font-size: 13px;
      border-radius: 10px;
      border: 1px solid var(--primary) !important;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--primary);
      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .allcheckbox {
      width: 15px;
      height: 15px;
      border-radius: 5px;
      background: var(--dark);
      &:checked {
        background: var(--primary);
        color: var(--primary);
      }
    }
  }
}

.kb_list {
  display: flex;
  gap: 20px;

  padding: 10px 20px;
  align-items: center;
  &:hover {
    background-color: var(--primary-bg);
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    cursor: pointer;
    .icon {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background-color: var(--primary-bg);
      border: 1px solid var(--dark);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content {
      p {
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
      }
      span {
        font-size: 12px;
        color: var(--light-text);
      }
    }
  }
}

// .kb_modal {
//   .ant-modal-content {
//     background: var(--primary-bg) !important;
//   }
// }

.add_website_modal,
.add_doc_modal,
.add_table_modal,
.add_richtext_modal {
  width: 600px;
  // background: var(--primary-bg);
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
    color: var(--light-text);
  }
  .input_box {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 5px;
    input,
    textarea {
      padding: 15px;
      background: var(--dark);
      border: 0;
      border-radius: 10px;
      color: var(--light);
      resize: none;
      font-size: 12px;
      flex-grow: 1;
    }

    // textarea {
    //   width: 93%;
    // }
    .select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 120px;
      background-color: var(--dark);
      font-size: 13px;
      padding: 8px 20px;
      border-radius: 10px;
      margin: 10px;
      text-transform: capitalize;
      cursor: pointer;
    }
    .errormsg {
      font-size: 12px;
      color: var(--error);
    }
  }

  .btn {
    display: flex;
    justify-content: end;
  }
}

.show_doc_modal {
  max-width: 700px;
}
