// TODO: update colors at commented places and for dark
$light: (
  white: #ffffff,
  black: #000000,
  wrapper-bg: #ffffff,

  primary-bg: #ffffff,
  secondary-bg: #f8f9fa,
  tertiary-bg: #e9ecef,
  body-bg: #fefeff,
  // body-bg: #fff,
  primary-border: #e9ecef,
  // 9ccee7
  // secondary-border: #9ccee7,
  link-color: #6ab5db,
  link-hover-color: #9ccee7,
  disable-color: #eeeeee,
  primary-title: #212529,
  secondary-title: #000000,
  primary-tx: #212529,
  secondary-tx: #081d35,
  light-tx: #6c757d,
  label-tx: #666666,
  primary-disable-tx: rgba(0, 0, 0, 0.25),
  primary-disable: rgba(0, 0, 0, 0.04),
  primary: #8b79ff,
  primary-hover: #4c32f9,
  primary-bg-hover: #4c32f9,
  // secondary: #dee2e6,
  // secondary-dark: #c2e2e3,
  // secondary-light: #d2eded,
  // secondary-bg: #eef2f2,
  // tertiary: #002662,
  // tertiary-dark: #02346a,
  // tertiary-light: #384e6c,
  // tertiary-link: #102662,
  // tertiary-hover: #001d4a,
  // quaternary: #1d4da1,
  success: #00a186,
  success-light: #d6ffde,
  success-bg: #26af98,
  success-border: #1aaa92,
  info: #408dfc,
  info-light: #3e8ff8,
  info-bg: #0670a6,
  info-border: #056392,
  warning: #ffc107,
  warning-light: #fffbc7,
  warning-bg: #ffcd39,
  warning-border: #ffc720,
  error: #fe4242,
  error-light: #ffecec,
  error-bg: #dc3545,
  error-border: #a52834,

  card-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%),
  light: rgb(170, 170, 170, 100%),
  // popup-shadow: -3px 5px 36px 3px #20004c,
  // popup-back-color: #1e174c,
  // popup-border:
  //   linear-gradient(
  //     to bottom right,
  //     rgba(52, 44, 101, 1),
  //     rgba(110, 86, 255, 0.9),
  //     rgba(108, 84, 255, 0.87),
  //     rgba(32, 13, 148, 0.83)
  //   ),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

$dark: (
  white: #000,
  black: #ffffff,
  body-bg: #1e1e1e,
  wrapper-bg: #110f1b,

  primary: #ebb82a,
  primary-bg: #101113,
  primary-hover: #ebb82ab3,
  primary-border: #495057,

  primary-text: #f5f5f5,
  primary-disable: rgba(127, 127, 127, 0.5),
  //
  secondary-text: #636466,
  secondary: #18181b,
  secondary-bg: #18181b,
  secondary-hover: #0b0b11,
  secondary-border: #2b3236,

  tertiary: #393a3d,
  tertiary-bg: #393a3d,
  tertiary-border: #393a3d,
  divider: rgba(255, 255, 255, 0.3),
  success: #00b012,
  label-text: #8ba2ad,
  info: #408dfc,
  warning: #ffc107,
  error: #fe4242,
  // TODO: update color code
  link-color: #6ab5db,
  link-hover-color: #9ccee7,
  card-shadow: 0 0.5rem 1.2rem rgba(82, 85, 92, 0.15),
  light: rgb(170, 170, 170, 100%),
  //old
  // secondary-hov: #181c1f,
  // body-bg: #fff,
  // secondary-border: #2b3236,
  // disable-color: #eeeeee,
  //primary-title: #fafafa,
  // secondary-title: #cccccc,
  // secondary-text: #f5f5f5,
  // light-tx: #bbbbbb,
  // primary-disable-tx: rgba(172, 172, 172, 0.5),
  // secondary: #dee2e6,
  // secondary-dark: #c2e2e3,
  // secondary-light: #d2eded,
  // secondary-bg: #eef2f2,
  // tertiary: #002662,
  // tertiary-dark: #02346a,
  // tertiary-light: #384e6c,
  // tertiary-link: #102662,
  // tertiary-hover: #001d4a,
  // quaternary: #1d4da1,
  // success-light: #d6ffde,
  // success-bg: #26af98,
  // success-border: #1aaa92,
  // info-light: #3e8ff8,
  // info-bg: #0670a6,
  // info-border: #056392,
  // warning-light: #fffbc7,
  // warning-bg: #ffcd39,
  // warning-border: #ffc720,
  // error-light: #ffecec,
  // error-bg: #dc3545,
  // error-border: #a52834,
  // card-shadow: 0 0.5rem 1.2rem rgba(82, 85, 92, 0.15),
  // popup-shadow: -3px 5px 36px 3px #20004c,
  // popup-back-color: #1e174c,
  // popup-border:
  //   linear-gradient(
  //     to bottom right,
  //     rgba(52, 44, 101, 1),
  //     rgba(110, 86, 255, 0.9),
  //     rgba(108, 84, 255, 0.87),
  //     rgba(32, 13, 148, 0.83)
  //   ),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
