$primaryText: var(--primary-tx);

// text wrap mixin
@mixin truncate-text($width: null) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  // Optional width for specific cases
  @if ($width) {
    width: $width;
  }
  // for older browsers
  -webkit-white-space: nowrap;
  -moz-white-space: nowrap;
  -ms-white-space: nowrap;
}

// mixin for typograpgy
@mixin text-element(
  $size,
  $color: $primaryText,
  $line-height: $line-height-sm,
  $truncate: true
) {
  color: $color;
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: $size;
  line-height: $line-height;
  text-decoration: none;
  @if $truncate {
    @include truncate-text;
  }
}

// Headings css
.heading01 {
  @include text-element($heading-1);
}
.heading02 {
  @include text-element($heading-2);
}
.heading03 {
  @include text-element($heading-3);
}
.heading04 {
  @include text-element($heading-4);
}
.heading05 {
  @include text-element($heading-5);
}
.heading06 {
  @include text-element($heading-6);
}

// Paragraphs css
.paragraph01 {
  @include text-element($font-size-md); // 16px
}

.paragraph02 {
  @include text-element($font-size-base); // 15px
}

.paragraph03 {
  @include text-element($font-size-sm); // 14px
}

.paragraph04 {
  @include text-element($font-size-xsm); // 12px
}

.paragraph05 {
  @include text-element($font-size-xxsm); // 11px
}

.paragraph06 {
  @include text-element($font-size-xxxsm); // 10px
}

// .primary-btn {
//   width: 512px;
//   height: 48px;
//   background-color: var(--main);
//   border: none;
//   outline: none;
// }

// .secondary-btn {
//   width: 124px;
//   height: 40px;
//   border: 2px solid var(--button-border);
//   background-color: var(--dark-button);
//   color: var(--main-light);
// }
