.antd_table {
  .ant-table-content {
    min-height: 645px;
    .ant-table-thead {
      border: none;
      tr,
      th {
        border-color: #333333;
        padding: 15px;
        white-space: nowrap;
        background-color: transparent;
      }
      .ant-table-cell {
        &::before {
          display: none;
        }
      }
    }

    .ant-table-tbody {
      tr,
      td {
        border: none;
        padding: 10px 15px;
        width: 100px;
        white-space: nowrap;
        background: transparent;
        cursor: pointer;
      }
      tr {
        border-radius: 10px;
      }
    }
  }
}

.ant_pagination {
  .ant-pagination-item {
    a {
      color: #333333 !important;
    }
  }
}

.ant-pagination-item {
  a {
    color: var(--light) !important;
  }
}

.ant-btn-color-primary {
  box-shadow: none;
  border: none !important;
  &:hover {
    background-color: #bb0788 !important;
  }
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
}

// .ant-select {
//   &:focus-visible {
//     border: none !important;
//     outline: none !important;
//   }
//   .ant-select-selector {
//     background-color: var(--dark) !important;
//     border: 1px solid var(--light) !important;
//     outline: none !important;
//   }
//   .ant-select-selection-item {
//     color: var(--light) !important;
//   }
//   .ant-select-arrow {
//     color: var(--light) !important;
//   }
// }
