.agent-details-container {
  width: 75%;
  margin: auto;
  min-height: 600px;
  height: max-content;
  background-color: var(--primary-bg);
  border-radius: 15px;

  min-width: 775px;
  .agent-header {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    .agent-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #ffffff;
    }
    .agent-info {
      display: flex;
      align-items: center;
      gap: 15px;
      .agent-name {
        font-size: 20px;
        font-weight: bold;
      }
      .edit-button {
        color: #6e57e0;
        cursor: pointer;
        font-size: 0.9rem;
      }
    }
  }
  .social-links {
    margin-top: 5px;
    display: flex;
    gap: 15px;
    .social_tag {
      // opacity: 0.7;
      display: flex;
      align-items: center;
      gap: 5px;
      justify-self: center;
      cursor: pointer;
      border: 1px solid var(--primary);
      border-radius: 8px;
      padding: 4px 6px;
      font-size: 12px;

      // position: relative;
      // padding: 10px;
      // border-radius: 8px;
      // background: var(--border-gradient);
      // :before {
      //   content: "";
      //   position: absolute;
      //   inset: 0;
      //   background: #1e1e1e;
      //   border-radius: 6px;
      //   margin: 2px;
      //   z-index: 1;
      // }
    }
    .ant-btn {
      background-color: #282828;
      color: #ffffff;
      border: none;
      &:hover {
        background-color: #6e57e0;
        color: #ffffff;
      }
    }
  }
  .tabs-section {
    margin-top: 30px;
    .ant-tabs-nav {
      background-color: #282828;
      border-radius: 5px;
      .ant-tabs-tab {
        color: #ffffff;
        &:hover {
          color: #6e57e0;
        }
        &.ant-tabs-tab-active {
          background-color: #6e57e0;
          border-radius: 5px;
        }
      }
    }
    .tab-content {
      background-color: #282828;
      padding: 20px;
      border-radius: 10px;
      .instructions {
        margin-bottom: 20px;
        font-size: 0.9rem;
        line-height: 1.5;
      }
      .bot-token {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .ant-input {
          background-color: #1e1e1e;
          color: #ffffff;
        }
        .bind-button {
          background-color: #6e57e0;
          color: #ffffff;
          &:hover {
            background-color: #876eea;
          }
        }
      }
    }
  }
}
