.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 90%;
  margin: auto;
  margin-block: 10px;
  .navigation {
    display: flex;
    gap: 50px;
    img {
      border: 1px solid white;
      background-color: aliceblue;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        gap: 3rem;

        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
            font-family: monospace;
            cursor: pointer;
            &:hover {
              color: #ff00b7;
            }
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: 1rem;

    button {
      border-radius: 15px;
    }
  }
}
