@import "/src/styles/breakPoints";
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 90%;
  margin: auto;
  margin-block: 10px;
  height: 50px;

  .navigation {
    display: flex;
    gap: 50px;
    img {
      border: 1px solid white;
      background-color: aliceblue;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  .search {
    input {
      background: var(--primary-bg);
      padding: 10px 15px;
      border: none;
      border-radius: 20px;
      width: 200px;

      color: var(--light);
    }
  }

  .mobile {
    display: none;
    @include lessThan(xl) {
      display: block;
    }
  }
  .actions {
    display: flex;
    gap: 1rem;
    align-items: center;

    button {
      border-radius: 15px;
    }

    @include lessThan(xl) {
      display: none;
    }
  }
}

.modal_content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  div {
    width: 200px;
    background: var(--dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    text-align: center;

    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.7rem;
      color: var(--light-text);
    }
    button {
      // border-radius: 15px;
      // border-color: var(--primary);
      // padding-block: 15px;
      // padding: 10px 20px;
    }
  }
  .magic {
    h3 {
      color: var(--primary);
    }
  }
}

nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    gap: 3rem;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
        font-family: monospace;
        cursor: pointer;
        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}
