@import "/src/styles/breakPoints";

.navbar {
  padding: 1rem;

  .container {
    margin: 0 auto;
    padding: 0 1.5rem;
    @include lessThan(xl) {
      padding: 0 1.5rem;
      max-width: 100%;
    }
    @include lessThan(md) {
      padding: 0px 0px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    @include lessThan(md) {
      height: 2rem;
    }
  }

  .logo {
    flex-shrink: 0;

    img {
      border: 1px solid white;
      background-color: aliceblue;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  .nav {
    display: none;
    gap: 2.5rem;
    @include moreThan(lg) {
      display: flex;
      align-items: center;
      gap: 3rem;
      font-size: 12px;
    }
    .linkHide {
      @include lessThan(xl) {
        display: none;
      }
    }
  }

  .link {
    color: var(--light);
    text-decoration: none;
    transition: color 0.2s;
    font-size: 14px;
    &:hover {
      color: var(--primary);
    }
  }

  .linkHide {
    @include lessThan(lg) {
      display: none;
    }
  }

  .search {
    flex: 1;
    max-width: 20rem;
    margin: 0 1rem;
    position: relative;

    border-radius: 20px;

    @include lessThan(md) {
      max-width: 17rem;
    }

    @include lessThan(sm) {
      max-width: 8rem;
    }
    @include lessThan(xs) {
      max-width: 8rem;
    }

    input {
      color: var(--light);
      border: none;

      border-radius: 20px;
      transition: width 0.3s ease-in-out;
      padding: 10px 30px;
      font-size: 14px;
      outline: none;
      cursor: pointer;
      background: var(--primary-bg);
      @include lessThan(md) {
        width: 100%;
      }
      @include lessThan(sm) {
        padding: 7px;
        cursor: pointer;
        font-size: 10px;
      }
    }

    svg {
      position: absolute;
      left: 0.5rem;
      top: 0.625rem;
      height: 1rem;
      width: 1rem;
      @include lessThan(sm) {
        display: none;
      }
    }
  }
}
.hidebtn {
  @include lessThan(xl) {
    display: none;
  }
}

.mobile {
  display: none;

  @include lessThan(xl) {
    display: block;
  }

  .other {
    margin-top: 5px;

    svg {
      width: 22px;
      height: auto;

      @include lessThan(md) {
        margin-left: 4px;
        width: 18px;
      }
    }
  }
}

.actions {
  display: flex;
  gap: 1.5rem;
  .address {
    background: var(--primary-bg);
    border: 1px solid var(--primary) !important;
  }
  .myagent_btn {
    margin-left: 5px;
  }
  button {
    font-size: 14px;
    @include lessThan(xl) {
      font-size: 12px;
    }
    @include lessThan(md) {
      font-size: 12px;
      height: 25px !important;
    }
    @include lessThan(sm) {
      font-size: 10px;
    }
  }
}

.modal_content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  @include lessThan(sm) {
    flex-direction: column;
  }
  div {
    width: 200px;
    background: var(--dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    text-align: center;

    h3 {
      font-size: 1.2rem;
      @include lessThan(md) {
        font-size: 1rem;
      }
    }
    p {
      font-size: 0.7rem;
      color: var(--light-text);
    }
    button {
      // border-radius: 15px;
      // border-color: var(--primary);
      // padding-block: 15px;
      // padding: 10px 20px;
      font-size: 16px;
      @include lessThan(md) {
        font-size: 14px;
      }
      @include lessThan(sm) {
        font-size: 12px;
      }
    }
  }
  .magic {
    h3 {
      color: var(--primary);
    }
  }
}
