@import "/src/styles/breakPoints";

.footer {
  margin-top: 50px;
  padding: 20px 40px;
  background: #131313;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  @include lessThan(md) {
    padding: 20px 10px;
    gap: 5px;
  }
  .logo_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include lessThan(md) {
      order: 1;
    }
    .logo {
      img {
        background: var(--light);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include lessThan(md) {
          width: 32px;
          height: 32px;
        }
      }
    }
    .footer_social {
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        svg {
          width: 20px;
          height: auto;
          &:hover {
            color: var(--primary);
          }
          @include lessThan(md) {
            width: 16px;
            height: auto;
          }
          @include lessThan(sm) {
            width: 14px;
            height: auto;
          }
        }
      }
    }
  }

  .copyright_div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include lessThan(md) {
      flex-direction: row-reverse;
      order: 3;
      align-items: center;
      gap: 1rem;
    }
    @include lessThan(sm) {
      display: block;
      text-align: center;
      flex-direction: row;
    }
    p {
      font-size: 14px;
      @include lessThan(md) {
        font-size: 12px;
      }
      @include lessThan(sm) {
        font-size: 12px;
      }
    }
    .footer_info {
      display: flex;
      align-items: center;
      gap: 8px;
      @include lessThan(md) {
        font-size: 12px;
      }
      @include lessThan(sm) {
        font-size: 10px;
        justify-content: center;
      }
      @include lessThan(xs) {
        font-size: 8px;
      }
    }
  }
  .disclaimer_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    @include lessThan(md) {
      font-size: 12px;
      display: none;
    }

    .footer_token {
      display: flex;
      align-items: center;
      gap: 8px;

      .footer__contract {
        background: #222;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .social_bx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include lessThan(md) {
      order: 2;
      justify-content: center;
    }
    .footer_nav {
      display: flex;
      gap: 15px;
      @include lessThan(md) {
        gap: 3rem;
      }
      @include lessThan(sm) {
        gap: 2rem;
      }
      @include lessThan(xs) {
        gap: 10px;
      }

      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: var(--primary);
        }
        @include lessThan(md) {
          font-size: 12px;
        }
      }
    }
  }
}
