.videoContainer {
  position: relative;
  height: fit-content;
  p {
    background-color: red;
    padding: 2px 4px 2px 8px;
    font-size: 14px;
    position: absolute;
    left: 0.75rem;
    top: 16px;
    color: #fff;
    border-radius: 8px;
  }
}

.ytIframe {
  aspect-ratio: 0.56634 / 1;
  max-width: 446px;
  height: 792px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}
