.ant-tabs {
  .ant-tabs-nav {
    &::before {
      border-bottom: none !important;
    }

    // .ant-tabs-nav:before {
    //   border-bottom: none !important;
    // }
    .ant-tabs-nav-wrap {
      border: none;
      display: block;
    }
    .ant-tabs-nav-wrap:before {
      position: relative;
    }
    .ant-tabs-nav-list {
      gap: 10px;
      .ant-tabs-tab {
        color: var(--light);
        background: var(--dark) !important;
        padding: 7px 19px;
        // margin-right: 1rem;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid var(--tertiary-border);
        cursor: pointer;
        // @include lessThan(xl) {
        //   font-size: $font-size-xsm;
        //   font-weight: $font-weight-semi-bold;
        //   padding: 7px 12px;
        // }
        // @include lessThan(md) {
        //   font-size: $font-size-xxsm;
        //   font-weight: $font-weight-semi-bold;
        //   padding: 7px 10px;
        // }
      }
      .ant-tabs-tab-active {
        background: var(--primary) !important;
        .ant-tabs-tab-btn {
          color: var(--light);
        }
      }
    }
  }
  .ant-tabs-content-holder {
    // @include lessThan(md) {
    //   margin-top: 0.1rem;
    // }
  }
}
