.virtuoso {
  // max-height: 572px;
  // height: calc(100% - 112px);
  overflow: auto;
}

.notification_class {
  // margin-top: 35px;
  height: 5rem;
  $border: 1px;
  background-clip: padding-box;
  // border: 1px solid $border var(--primary-border);
  border-radius: 12px;
  color: var(--light) !important;
  // background-color: var(--primary-bg);
  border-radius: 11px;
  padding: 8px 5px;
}
@media (max-width: 768px) {
  .notification_class {
    padding: 3px;
  }
}

.ant-notification-notice {
  height: fit-content !important;
}

.no_data,
.error404 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    min-width: 240px;
    max-width: 500px;
    margin: auto;
  }
}

.error404 {
  height: calc(100vh - 252px);
}
