@use "./styles/index.scss";

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  width: 100%;

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
    border: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
  }
}
