@use "./styles/index.scss";

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  width: 100%;
  height: 100%;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
    border: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
  }
}

.token_cont {
  min-height: 70vh;
}

.container_height {
  min-height: 70vh;
}

main {
  display: flex;
}

.containr {
  padding: 20px;
  width: 65%;
  margin: 0 auto;
}
.gradient-border {
  background: #000;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image: linear-gradient(#000, #000), var(--gradient);
  &:hover {
    border: 1px solid var(--primary);
  }
}
