:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  color: #ffff;
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
  max-width: 1600px;
  margin: auto;
  position: relative;
}

button {
  border-radius: 20px !important;
  border: 1px solid var(--primary);
  padding: 8px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--light);
  height: max-content;
}

.secondary {
  border-radius: 20px !important;
  border: 1px solid var(--primary);
  padding: 8px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--light);
  height: max-content;
}

.primary {
  border-radius: 20px !important;
  border: 1px solid var(--primary);
  padding: 8px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--light);
  height: max-content;
}
/* button > div {
  display: none !important;
} */
button:disabled {
  opacity: 0.5;
}
button:hover {
  border-color: var(--primary);
  filter: contrast(80%);
}

button[data-testid="rk-account-button"] {
  white-space: pre;
}
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
}

input:-webkit-autofill {
  background-color: #0046bf !important; /* Change the background color */
  color: var(--light) !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  color: var(--light) !important;
  background-color: #000000 !important; /* Different color on focus or hover */
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* skeleton loader css */
.skeleton {
  background: linear-gradient(
    90deg,
    #c9cacb 20px,
    rgba(155, 155, 155, 0.9) 60px,
    #c9cacb 80px
  );

  background-size: 250%;
  background-position: 100% 0;
  min-height: 20px;
  width: 100%;
  animation: shimmer 3s infinite;
}
@keyframes shimmer {
  to {
    background-position: -100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
