.user-message {
  display: flex;
  // align-items: center;
  gap: 5px;
  padding: 6px 12px;
  // border: 1px solid #ddd;
  border-radius: 8px;
  // background-color: #f9f9f9;
  max-width: 405px;
  &__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__content {
    display: inline-block;
    // flex-direction: column;
    line-height: 18px;

    padding: 4px 8px 0px 0px;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    color: #18202b;
    margin-bottom: 2px;
  }

  &__text {
    font-size: 14px;
    color: #2f425d;
    margin: 0;
    margin-left: 5px;
  }
}
